{% extends 'layouts.admin_bare' %}

{% block content %}
	<div class="login-box">
		<div class="login-logo">
			SD Hub
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<form method="post">
				<input type="hidden" name="_token" value="{{ csrf_token() }}" />
				<input type="hidden" name="code" value="{{ code }}" />
				<input type="hidden" name="userid" value="{{ userid }}" />
				<div class="form-group">
					<label class="form-label">New Password</label>
					<div class="input-with-icon  right {{ errors.has('new_password') ? 'error-control':'' }}">
						<i class=""></i>
						<input type="password" name="new_password" id="new_password" class="form-control">
						{% if errors.has('new_password') %}
							{% for error in  errors.get('new_password') %}
								<span class="error">
									<label for="new_password" class="error">{{ error }}</label>
								</span>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					<label class="form-label">Confirm New Password</label>
					<div class="input-with-icon  right {{ errors.has('new_password_confirmation') ? 'error-control':'' }}">
						<i class=""></i>
						<input type="password" name="new_password_confirmation" id="new_password_confirmation" class="form-control">
						{% if errors.has('new_password_confirmation') %}
							{% for error in errors.get('new_password_confirmation') %}
								<span class="error">
									<label for="new_password_confirmation" class="error">{{ error }}</label>
								</span>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8">
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button class="btn btn-primary btn-cons pull-right" type="submit">Reset Password</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->
{% endblock %}
