{% for project in menu_projects %}
	<li{{ current_url == 'project/dashboard/' ~ project.id ?' class="active"':''|raw }}>
		<a href="{{ url('project/dashboard/' ~ project.id) }}">
			<i class="fa fa-dashboard fa-fw"></i> <span>{{ project.name }}</span>
			<span class="pull-right-container">
				<small class="label pull-right bg-green">{{ project.openTasks.count() }}</small>
			</span>
		</a>
	</li>
{% endfor %}
<li{{ current_url == 'project'?' class="active"':''|raw }}>
	<a href="{{ url('project') }}"><i class="fa fa-dashboard fa-fw"></i> Projects List</a>
</li>
